<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="config">
            <h2><span jhiTranslate="eventsApp.config.detail.title">Config</span> {{config.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventsApp.config.key">Key</span></dt>
                <dd>
                    <span>{{config.key}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.config.value">Value</span></dt>
                <dd>
                    <span>{{config.value}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.config.authority">Authority</span></dt>
                <dd>
                    <span>{{config.authority}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.config.position">Position</span></dt>
                <dd>
                    <span>{{config.position}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/config', config.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
