<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="address">
            <h2><span jhiTranslate="eventsApp.address.detail.title">Address</span> {{address.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventsApp.address.address">Address</span></dt>
                <dd>
                    <span>{{address.address}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.address.city">City</span></dt>
                <dd>
                    <span>{{address.city}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.address.state">State</span></dt>
                <dd>
                    <span>{{address.state}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.address.country">Country</span></dt>
                <dd>
                    <span>{{address.country}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.address.phone">Phone</span></dt>
                <dd>
                    <span>{{address.phone}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.address.longitude">Longitude</span></dt>
                <dd>
                    <span>{{address.longitude}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.address.latitude">Latitude</span></dt>
                <dd>
                    <span>{{address.latitude}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.address.description">Description</span></dt>
                <dd>
                    <span>{{address.description}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/address', address.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
