<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="oneTimeEvent">
            <h2><span jhiTranslate="eventsApp.oneTimeEvent.detail.title">One Time Event</span> {{oneTimeEvent.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventsApp.oneTimeEvent.when">When</span></dt>
                <dd>
                    <span>{{oneTimeEvent.when}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/one-time-event', oneTimeEvent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
