<div>
    <h2 id="page-heading">
        <span jhiTranslate="eventsApp.userInfo.home.title">User Infos</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-user-info" [routerLink]="['/user-info/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="eventsApp.userInfo.home.createLabel">
            Create new User Info
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'eventsApp.userInfo.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="table-responsive" *ngIf="userInfos">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="eventsApp.userInfo.description">Description</span></th>
            <th><span jhiTranslate="eventsApp.userInfo.user">User</span></th>
            <th><span jhiTranslate="eventsApp.userInfo.address">Address</span></th>
            <th><span jhiTranslate="eventsApp.userInfo.companyGroup">Company Group</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userInfo of userInfos ;trackBy: trackId">
                <td><a [routerLink]="['/user-info', userInfo.id, 'view' ]">{{userInfo.id}}</a></td>
                <td>{{userInfo.description}}</td>
                <td>
                    {{userInfo.user?.login}}
                </td>
                <td>
                    <div *ngIf="userInfo.address">
                        <a [routerLink]="['../address', userInfo.address?.id, 'view' ]" >{{userInfo.address?.id}}</a>
                    </div>
                </td>
                <td>
                    <span *ngFor="let companyGroup of userInfo.companyGroups; let last = last">
                            <a class="form-control-static" [routerLink]="['../company-group', companyGroup?.id, 'view' ]">{{companyGroup.id}}</a>{{last ? '' : ', '}}
                        </span>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/user-info', userInfo.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/user-info', userInfo.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'user-info/'+ userInfo.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
