<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="company">
            <h2><span jhiTranslate="eventsApp.company.detail.title">Company</span> {{company.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="eventsApp.company.name">Name</span></dt>
                <dd>
                    <span>{{company.name}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.company.tags">Tags</span></dt>
                <dd>
                    <span>{{company.tags}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.company.description">Description</span></dt>
                <dd>
                    <span>{{company.description}}</span>
                </dd>
                <dt><span jhiTranslate="eventsApp.company.event">Event</span></dt>
                <dd>
                    <span *ngFor="let event of company.events; let last = last">
                        <a [routerLink]="['/event', event?.id, 'view' ]">{{event.name}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="eventsApp.company.address">Address</span></dt>
                <dd>
                    <div *ngIf="company.address">
                        <a [routerLink]="['/address', company.address?.id, 'view']">{{company.address?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="eventsApp.company.companyGroup">Company Group</span></dt>
                <dd>
                    <div *ngIf="company.companyGroup">
                        <a [routerLink]="['/company-group', company.companyGroup?.id, 'view']">{{company.companyGroup?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/company', company.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
